section.destination {
    padding-block: 12vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.destination-box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 60px calc(30px + 2vw);
    margin-block: 40px 50px;
}

.destination__item {
    width: 300px;
    position: relative;
    display: flex;
    flex-direction: column;
}

.destination-image {
    width: 100%;
    height: 350px;
    border-radius: 15px;
    overflow: hidden;
    margin-bottom: 20px;
}

.destination-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.destination__item .price {
    padding: 7px 15px;
    border-radius: 50px;
    background: #fff;
    width: max-content;
    position: absolute;
    right: 15px;
    top: 15px;
    font-weight: 500;
    color: var(--text-majorelle-blue);
}

.destination__item h2 {
    font-weight: 600;
}

.destination__item > p {
    margin-block: 10px 15px;
}

.destination__item .opinion {
    display: flex;
    gap: 10px;
    align-items: center;
}

.destination__item .opinion .rating {
    padding: 5px 10px;
    border-radius: 50px;
    background: #ffcc0031;
    color: var(--text-sunglow);
    display: flex;
    gap: 5px;
    align-items: center;
}

.btn-primary {
    padding: 10px 25px;
    border-radius: 50px;
    outline: 3px solid var(--bg-ocean-blue);
    border: 5px solid transparent;
    color: var(--bg-ocean-blue);
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1rem;
    font-weight: 600;
    position: relative;
    overflow: hidden;
    transition: var(--transition-1);
}

.btn-primary p {
    transition: var(--transition-1);
}

.btn-primary ion-icon {
    z-index: 2;
    transition: var(--transition-2);
    position: absolute;
    left: 20px;
    opacity: 0;
}

.btn-primary:before {
    content: "";
    width: 0;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: #4b2fee;
    border-radius: 50px;
    transition: var(--transition-2);
}

.btn-primary:hover:before {
    width: 100%;
}

.btn-primary:hover ion-icon {
    transform: scale(1.8) translateX(-50%);
    left: 50%;
    color: var(--text-white);
    opacity: 1;
}

@media screen and (max-width: 750px) {
    .destination-box {
        flex-direction: column;
    }

    .destination__item {
        width: 100%;
        max-width: 500px;
        flex-grow: 1;
    }
}