section.experience {
    padding-block: 12vh;
    display: flex;
    align-items: center;
    gap: 50px;
}

.experience-image {
    width: 50%;
    height: 75vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.experience-image img:first-child {
    object-fit: contain;
    min-width: 300px;
    max-width: 500px;
    height: 100%;
}

.experience-image img:last-child {
    position: absolute;
    left: 30px;
    bottom: 10vh;
    width: 120px;
    object-fit: contain;
    filter: drop-shadow(var(--shadow-4));
}

.experience-info {
    width: 50%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
}

.experience-info .title {
    text-align: left;
}

.experience-box {
    display: flex;
    gap: 50px;
    align-items: center;
    margin-top: 50px;
    flex-wrap: wrap !important;
    width: 100%;
}

.experience__item {
    display: flex;
    flex-direction: column;
}

.experience__item h2 {
    font-size: calc(1.25rem + 1vw);
    text-transform: uppercase;
    color: var(--text-majorelle-blue);
}


/* Gallery */

section.gallery {
    padding-block: 12vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gallery h2 {
    text-align: center;
}

.gallery-box {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr 1fr;
    gap: 20px;
    margin-top: 20px;
}

.gallery__item {
    border-radius: 15px;
    overflow: hidden;
}

.gallery__item:nth-child(3) {
    grid-area: 1 / 3 / 3 / 5;
}

.gallery__item:nth-child(n+4) {
    grid-column: span 2;
}

.gallery__item img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

/* Started */
section.started {
    padding: 12vh 30px;
    margin-inline: 5%;
    border-radius: 15px;
    background: var(--bg-misty-rose);
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.started *:nth-last-child(n+2) {
    max-width: 600px;
}

.started button {
    margin-top: 30px;
}

@media screen and (max-width: 900px) {
    section.experience {
        flex-direction: column-reverse;
    }

    
    .experience-info {
        width: 100%;
        align-items: center;
        max-width: 550px;
    }

    .experience-info * {
        text-align: center !important;
    }

    .experience-info h2 {
        max-width: 400px;
    }

    .experience-info p {
        max-width: 500px;
    }

    .experience-image {
        width: 90%;
        height: 400px;
    }
    
    .experience-image img:last-child {
        left: 25%;
        transform: translateX(-50%);
    }
    
    .experience-box {
        justify-content: center;
    }
    
    .gallery-box {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
    }
}


@media screen and (max-width: 600px) {
    .experience-image img:last-child {
        left: max(15%, 30px);
        bottom: -20px;
    }

    .gallery-box {
        grid-template-columns: 1fr 1fr;
    }

    .gallery__item:nth-child(3) {
        grid-area: 3 / 1 / 4 / 2;
    }
    
    .gallery__item:nth-last-child(1) {
        grid-area: 3 / 2 / 4 / 3;
    }
}