.bg {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background: url('../img/hero-bg.jpg') no-repeat center;
    background-size: cover;
}

header {
    height: calc(100vh - 80px);
    display: flex;
    gap: 50px;
    z-index: 2;
}

.header__left {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header-tag {
    width: max-content;
    border-radius: 50px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 7px 20px;
    font-size: .9rem;
    background: var(--bg-misty-rose);
    color: var(--text-light-coral);
}

.header-tag img {
    object-fit: contain;
    height: 80%;
}

h1 {
    font-size: calc(1.5rem + 2vw);
    line-height: calc(2rem + 2vw);
    font-weight: 600;
    margin-block: 20px 10px !important;
    color: var(--text-gunmetal);
}

.header__left>p {
    max-width: 400px;   
}

.header__left .buttons {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-top: 40px;
}

.header__left .buttons button {
    height: max-content;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: .9rem;
    font-weight: 500;
    transition: var(--transition-1);
}

.buttons .trip {
    background: var(--bg-english-vermillion);
    color: var(--text-white);
    padding: 10px 25px;
    border-radius: 50px;
    gap: 7px;
}

.buttons .trip:hover {
    background: var(--bg-red-salsa);
}

.buttons .story {
    position: relative;
}

.buttons .story img {
    border-radius: 50%;
    object-fit: contain;
    height: 60px;
}

.buttons .story p {
    margin-left: 15px;
}

.buttons .story span {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    position: absolute;
    left: 44px;
    background: #fff;
    box-shadow: var(--shadow-1);
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttons .story:hover {
    color: var(--text-majorelle-blue) !important;
}

.header__right {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.header__right img {
    width: 100%;
    height: 90%;
    object-fit: contain;
}

@media screen and (max-width: 900px) {
    header {
        flex-direction: column;
        height: max-content;
        padding-block: 10vh !important;
    }

    .header__left, .header__right {
        width: 100%;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .header__right img {
        width: 80%;
        max-height: 500px;
    }
}


@media screen and (max-width: 600px) {
    header .buttons {
        flex-direction: column;
        gap: 30px !important;
    }
}