/*-----------------------------------*\
  #CUSTOM PROPERTY
\*-----------------------------------*/

@import url('./nav.css');
@import url('./header.css');
@import url('./service.css');
@import url('./destination.css');
@import url('./experience.css');
@import url('./footer.css');

:root {

  /**
   * COLORS
   */

  /* backgroud colors */
  --bg-white: hsl(0, 0%, 100%);
  --bg-black-alpha-20: hsla(0, 0%, 0%, 0.2);
  --bg-lavender-blush: hsl(0, 100%, 98%);
  --bg-majorelle-blue: hsl(249, 95%, 63%);
  --bg-ocean-blue: hsl(249, 63%, 54%);
  --bg-majorelle-blue-alpha-5: hsla(249, 95%, 63%, 0.05);
  --bg-misty-rose: hsl(0, 100%, 95%);
  --bg-red-salsa: hsl(357, 94%, 63%);
  --bg-red-salsa-alpha-5: hsla(357, 94%, 63%, 0.05);
  --bg-english-vermillion: hsl(357, 64%, 53%);
  --bg-chrome-yellow-alpha-5: hsla(40, 100%, 50%, 0.05);
  --bg-sunglow-alpha-10: hsla(48, 100%, 50%, 0.1);
  --bg-gainsboro: hsl(0, 0%, 85%);

  /* text color */
  --text-white: hsl(0, 0%, 100%);
  --text-gunmetal: hsl(209, 40%, 14%);
  --text-light-coral: hsl(357, 96%, 73%);
  --text-granite-gray: hsl(210, 4%, 38%);
  --text-majorelle-blue: hsl(249, 95%, 63%);
  --text-sunglow: hsl(48, 100%, 50%);

  /* border color */
  --border-gainsboro: hsl(0, 1%, 85%);

  /**
   * TYPOGRAPHY
   */

  /* font family */
  --ff-poppins: 'Poppins', sans-serif;

  /* font size */
  --fontSize-1: 4.2rem;
  --fontSize-2: 3.6rem;
  --fontSize-3: 2.5rem;
  --fontSize-4: 2.4rem;
  --fontSize-5: 2rem;
  --fontSize-6: 1.6rem;
  --fontSize-7: 1.5rem;

  /* font weight */
  --weight-bold: 700;
  --weight-semiBold: 600;
  --weight-medium: 500;

  /**
   * SPACING
   */

  --section-spacing: 80px;

  /**
   * BOX SHADOW
   */

  --shadow-1: 0 2px 10px hsla(209, 40%, 14%, 10%);
  --shadow-2: 0 5px 10px hsla(249, 95%, 63%, 25%);
  --shadow-3: 0 5px 10px hsla(357, 64%, 53%, 25%);
  --shadow-4: 0 30px 50px hsla(357, 64%, 53%, 30%);

  /**
   * RADIUS
   */

  --radius-pill: 200px;
  --radius-circle: 50%;
  --radius-30: 30px;
  --radius-20: 20px;

  /**
   * TRANSITION
   */

  --transition-1: 250ms ease;
  --transition-2: 500ms ease;
  --cubic-out: cubic-bezier(0.05, 0.83, 0.52, 0.97);

}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font: 1rem;
}

img {
  user-select: none;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}

button, input {
  border: none;
  background: none;
  outline: none;
  font-family: inherit;
  cursor: pointer;
}

html {
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: var(--bg-lavender-blush);
}

.padding-5 {
  width: calc(100% - 10%);
  padding: 0 5%;
}

.subtitle {
  text-transform: uppercase;
  font-weight: 600;
  color: var(--text-majorelle-blue);
  font-size: 1rem;
  letter-spacing: 1px;
}

.title {
  font-size: calc(1.5rem + 1vw);
  line-height: calc(2.5rem + 1vw) !important;
  font-weight: 600;
  margin-block: 10px 20px;
  color: var(--text-gunmetal);
  text-align: center;
}

.description, .footer__list li {
  font-size: 14px;
  line-height: 24px;
  color: var(--text-granite-gray);
}




input[type=text], textarea {
  width: 40%;
  font-size: 12px;
  padding: 12px;
  border: 1px solid #ccc;
  background-color: white;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 3%;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: blue;
  color: white;
  padding: 12px 20px;
  width: 20%;
  height: 10%;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #3a497b;
}

.containe {
  margin-top: 5%;
  border-radius: 5px;
  background-color: #9c9eef;
  padding: 20px;
  width: 50%;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  background: var(--bg-lavender-blush);
}